.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
}

#sidebar {
  height: 100%;
  top: 64px;
  bottom: 0;
  background: #4A6A8B;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  z-index: 999;
  -ms-overflow-y: auto;
  overflow-y: auto;
  .mat-nav-list {
    width: 100%;
    a {
      .mat-icon {
        margin-right: 15px;
      }
      display: block;
    }
  }
}

//@media screen and (max-width: 992px) {
//  #sidebar {
//    left: -250px;
//  }
//}
